<section>
    <div class="container mt-4">
        <div class="row">
            <form  action="/admin/add-product" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="productName">Name</label>
    <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter product name" required>
  </div>
  <div class="form-group">
    <label for="Category">Category</label>
        <input type="text" class="form-control" id="Category" name="Category" placeholder="Enter Category" required>

    
  </div>
  <div class="form-group">
    <label for="productDescription">Description</label>
    <textarea class="form-control" id="productDescription" name="productDescription" rows="3" placeholder="Enter product description" required></textarea>
  </div>
  <div class="form-group">
    <label for="productPrice">Price</label>
    <input type="number" class="form-control" id="productPrice" name="productPrice" placeholder="Enter product price" step="0.01" required>
  </div>
  <div>
    <input id="sellerId" style="display:none" type="text" name="sellerId" value='{{admin._id}}'>

  </div>
  <div class="form-group" id="productImages">
    <label for="productImage">Image</label>
<img src="" alt="" style="width: 100px; height: auto" id="imgview" class="pt-3">

    <input type="file" class="form-control-file"   name="productImage" onchange="viewImage(event)" accept="image/*" multiple required>
    <input type="text" id="imgExt" style="display:none" name="imgExt" value="">
  </div>
  <button type="submit" class="btn btn-primary" disabled id="subBtn">Submit</button>
</form>

        </div>

    </div>
</section>

<script>
   function viewImage(event){
    let imgs=[];
let files=event.target.files;
console.log(files)
    for(let i=0;i<files.length;i++){
      imgs[i]=document.createElement('img');
      imgs[i].src=URL.createObjectURL(event.target.files[i])
      document.getElementById('productImages').appendChild(imgs[i]);
      imgs[i].classList.add("prodImages")
    }
    document.getElementById('imgview').src=URL.createObjectURL(event.target.files[0])
    let  exts=[];
    let extsRender=[]
    console.log(files)
    for(let i=0;i<files.length;i++){
       exts[i]=files[i].name.split('.')[1];
       extsRender[i]=document.createElement("input");
       extsRender[i].type="text";
       extsRender[i].className="ext_Stored"
       extsRender[i].value=exts[i];
       extsRender[i].name="extsRender"
       document.getElementById('productImages').appendChild(extsRender[i]);



    }
    if(parseInt(event.target.files.length)>3){
    
              alert("Your can only upload a maximum of 3 files");

    }else{
      document.getElementById("subBtn").disabled=false;
    }

    }

   
</script>