<div class="homepage">
    <!-- Mobile Overlay -->
    <div class="moble-overlay" id="menuToggle"></div>

    <section class="slideshow-container">
        <div class="mySlides fade">
            <img src="/images/banner 204.png" alt="">
        </div>
        <div class="mySlides fade">
            <img src="/images/acer_banner.png" alt="">
        </div>
        <div class="mySlides fade">
            <img src="/images/banner3.jpg" alt="">
        </div>

        
<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>


<div class="dot_container">
<span class="dot" onclick="currentSlide(1)"></span>
<span class="dot" onclick="currentSlide(2)"></span>
<span class="dot" onclick="currentSlide(3)"></span>
</div>
    </section>

    <section class="smartphones">
        <div class="title">
            <h2>Grab the best deal on <span>Smartphones</span></h2>
            <hr>
            <a href="">View All <span>❯</span></a>

        </div>
        
        <!-- Smartphone Cards Container -->
<div class="smartphones-container">
<!-- Single Card -->
    
<div class="card">
    <a href="https://www.apple.com">
    <div class="mobileImage">
    <img src="/images/Galaxy_m13.png" alt="Apple iPhone 14">
    <!-- <span class="discount">56% OFF</span> -->
    </div>
    <div class="smartphone-details">
<h3>Apple iPhone 14 (128GB) - Midnight</h3>
    <p class="price">₹ 69,900</p>
    <button class="add-to-cart" onclick="addToCart(event,'demoProduct')">Add to Cart</button>
    </div>
    </a>
</div>


<!-- Copy & change for more phones -->
<div class="card">
    <div class="mobileImage">
    <img src="/images/galaxy_s22_ultra.png" alt="OnePlus Nord 2T">
    </div>
    <div class="smartphone-details">

    <h3>OnePlus Nord 2T 5G (128GB) - Gray Shadow</h3>
    <p class="price">₹ 27,999</p>

    <button class="add-to-cart">Add to Cart</button>
    </div>
</div>

<div class="card">
    <div class="mobileImage">
    <img src="/images/galaxy_s22_ultra_2.png" alt="Samsung Galaxy S22 Ultra">
    </div>
    <div class="smartphone-details">

    <h3>Samsung Galaxy S22 Ultra 5G (256GB) - Phantom Black</h3>
    <p class="price">₹ 1,05,999</p>

    <button class="add-to-cart">Add to Cart</button>
    </div>
</div>

<div class="card">
    <div class="mobileImage">
    <img src="/images/galaxy_m33.png" alt="Samsung Galaxy S22 Ultra">
    </div>
    <div class="smartphone-details">

    <h3>Samsung Galaxy S22 Ultra 5G (256GB) - Phantom Black</h3>
    <p class="price">₹ 1,05,999</p>

    <button class="add-to-cart">Add to Cart</button>
    </div>
</div>

<div class="card">
    <div class="mobileImage">
    <img src="/images/galaxy_m53.png" alt="Samsung Galaxy S22 Ultra">
    </div>
    <div class="smartphone-details">

    <h3>Samsung Galaxy S22 Ultra 5G (256GB) - Phantom Black</h3>
    <p class="price">₹ 1,05,999</p>

    <button class="add-to-cart">Add to Cart</button>
    </div>
</div>

            
        </div>
    </section>

        <section class="top-categories">
        <div class="title">
            <h2>Shop From <span>Top Categories</span></h2>
            <hr>
            <a href="">View All <span>❯</span></a>

        </div>
        
        <!-- Smartphone Cards Container -->
<div class="top-categories-container">
<!-- Single Card -->
<div class="category-card">
    <a href="/products?category=Mobile">
    <div class="categoryImage">
    <img src="/images/Galaxy_m13.png" alt="Apple iPhone 14">
    <!-- <span class="discount">56% OFF</span> -->
    </div>
    </a>
    <div class="category-name">
<p>Mobile</p>

    <!-- <p class="price">₹ 69,900</p>
    <button class="add-to-cart">Add to Cart</button> -->
    </div>
    
</div>
        <div class="category-card">
                <a href="/products?category=Cosmetics">
    
        <div class="categoryImage">
        <img src="/images/top_category_cosmetic.png" alt="Apple iPhone 14">
        </div>
                </a>
        <div class="category-name">
    <p>Cosmetics</p>
    
    </div>
    
</div>

    <div class="category-card">
            <a href="/products?category=Electronics">

    <div class="categoryImage">
    <img src="/images/top_category_washing_machine.png" alt="Apple iPhone 14">
    </div>
            </a>
    <div class="category-name">
<p>Electronics</p>

    
    </div>
    
</div>

    <div class="category-card">
    <a href="/products?category=Furniture">
    <div class="categoryImage">
    <img src="/images/top_category_sofa.png" alt="Apple iPhone 14">
    </div>
    </a>
    <div class="category-name">
<p>Furniture</p>

    
    </div>
    
</div>

    <div class="category-card">
            <a href="/products?category=Watches">

    <div class="categoryImage">
    <img src="/images/top_category_smart_watch.png" alt="Apple iPhone 14">
    </div>
            </a>
    <div class="category-name">
<p>Watches</p>

    
    </div>
    
</div>

    <div class="category-card">
            <a href="/products?category=Decor">

    <div class="categoryImage">
    <img src="/images/top_category_plant.png" alt="Apple iPhone 14">
    </div>
            </a>
    <div class="category-name">
<p>Decor</p>

    
    </div>
    
</div>


    <div class="category-card">
            <a href="/products?category=Accessories"> 
    <div class="categoryImage">
    <img src="/images/top_category_jewllery.png" alt="Apple iPhone 14">
    </div>
            </a>    
    <div class="category-name">
<p>Accessories</p>

    
    </div>
    
</div>


        
        </div>
    </section>


        <section class="brand-section">
        <div class="title">
            <h2>Top <span>Electronics Brands</span></h2>
            <hr>
            <a href="">View All <span>❯</span></a>

        </div>
        
        <!-- Smartphone Cards Container -->
<div class="brands-container">
<!-- Single.hbs Card -->
<div class="brand-card">
    <a href="">
    <div class="brandImage">
    <img src="/images/top_electronic_iphone.png" alt="Apple iPhone 14">
    <!-- <span class="discount">56% OFF</span> -->
    </div>
    </a>
    
    
</div>

<!-- Copy & change for more phones -->
<div class="brand-card">
    <a href="">
    <div class="brandImage">
    <img src="/images/top_electronic_realme.png" alt="Apple iPhone 14">
    <!-- <span class="discount">56% OFF</span> -->
    </div>
    </a>
    
    
</div>

    <div class="brand-card">
    <a href="">
    <div class="brandImage">
    <img src="/images/top_electronic_xiaomi.png" alt="Apple iPhone 14">
    <!-- <span class="discount">56% OFF</span> -->
    </div>
    </a>
    
    
</div>

        
        </div>
    </section>


        <section class="essentials-section">
        <div class="title">
            <h2>Daily <span>Essentials</span></h2>
            <hr>
            <a href="">View All <span>❯</span></a>

        </div>
        
        <!-- Essentials Cards Container -->
<div class="essentials-container">


<div class="essentials-card">
    <a href="/products?category=Daily Essentials">
        <div class="essentialsImage">
        <img src="/images/daily_essentials_main.png" alt="Apple iPhone 14">
        <!-- <span class="discount">56% OFF</span> -->
        </div>
    </a>
    <div class="essentials-footer">
            <p class="essentials-title">Daily Essentials</p>

<h3>UP to 50% OFF</h3>
    
    </div>
    
</div>

    <div class="essentials-card">
    <a href="/products?category=Vegetables">
        <div class="essentialsImage">
        <img src="/images/daily_essentials_vegetables.png" alt="Apple iPhone 14">
        <!-- <span class="discount">56% OFF</span> -->
        </div>
    </a>
    <div class="essentials-footer">
            <p class="essentials-title">Vegetables</p>

<h3>UP to 50% OFF</h3>
    
    </div>
    
</div>


    <div class="essentials-card">
    <a href="/products?category=Fruits">
        <div class="essentialsImage">
        <img src="/images/daily_essentials_fruits.png" alt="Apple iPhone 14">
        <!-- <span class="discount">56% OFF</span> -->
        </div>
    </a>
    <div class="essentials-footer">
            <p class="essentials-title">Fruits</p>

<h3>UP to 50% OFF</h3>
    
    </div>
    
</div>

    <div class="essentials-card">
    <a href="/products?category=Strawberry">
        <div class="essentialsImage">
        <img src="/images/daily_essentials_strawberry.png" alt="Apple iPhone 14">
        <!-- <span class="discount">56% OFF</span> -->
        </div>
    </a>
    <div class="essentials-footer">
            <p class="essentials-title">Strawberry</p>

<h3>UP to 50% OFF</h3>
    
    </div>
    
</div>

    <div class="essentials-card">
    <a href="/products?category=Mango">
        <div class="essentialsImage">
        <img src="/images/daily_essentials_mango.png" alt="Apple iPhone 14">
        <!-- <span class="discount">56% OFF</span> -->
        </div>
    </a>
    <div class="essentials-footer">
            <p class="essentials-title">Mango</p>

<h3>UP to 50% OFF</h3>
    
    </div>
    
</div>

    <div class="essentials-card">
    <a href="/products?category=Cherry">
        <div class="essentialsImage">
        <img src="/images/daily_essentials_cherry.png" alt="Apple iPhone 14">
        <!-- <span class="discount">56% OFF</span> -->
        </div>
    </a>
    <div class="essentials-footer">
            <p class="essentials-title">Cherry</p>

<h3>UP to 50% OFF</h3>
    
    </div>
    
</div>

        
        </div>
    </section>
</div>
<script src="/javascripts/script.js"></script>
<script>
    let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
