<section>
    <form action="/change-password" method="post">
    <input name="password" type="password" placeholder="Enter new Password">
    <button type="submit">Change Password</button>
    </form>
</section>