<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">

 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <title>Hello, world!</title>
    
  </head>
  <body>
    {{#if adminExist}}
{{>admin-header}}
{{else}}
{{>user-header}}
{{/if}}

<main class="main-content">
{{{body}}}
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
 <script src="/javascripts/script.js"></script>
  <footer class="footer">
    <p>&copy 2025 All rights reserved. Design inspired by <a href="https://www.figma.com/design/OY3V49Cer0ytt5PtTRiIHH/Ecommerce-Website-Design--Community-?node-id=1-2&t=2PMIxU1vrQn9behH-0" target="_blank">MegaMart</a></p>
  </footer>
  </body>
</html>